<div class="container">
 <h1 class="text-center display-4">About</h5>
 <div class="text-center">
  <h5>ながのCAKEは全国発送可能なケーキ屋さんです</h5>
  <h5>お子様からお年寄りまでお召し上がりいただけるよう、</h5>
  <h5>様々なバリエーションをご用意しております</h5>
  <h5>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h5>
  <h5>ぜひご注文ください</h5>
 </div>
 

 <div class="text-center">
  <%= image_tag 'top.jpg', :size =>'650x350' %>
 </div>
</div>