@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~bootstrap/scss/bootstrap';



.d-flex::after {
display: block;
content:"";
width: 490px;
}

.pagination {
  justify-content: center;
  margin:20px;
}

.icon{
  float:right;
   filter:drop-shadow(2px 2px 0px #000)
}