<footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>

    		<div class="text-center">
    		  <i class="fa-brands fa-twitter mr-3 fa-2x"></i>
      		<i class="fa-brands fa-facebook-f mr-3 fa-2x"></i>
      		<i class="fa-brands fa-instagram mr-3 fa-2x"></i>
    		</div>
    		<div class="mt-3">
    		<p><i class="fa-solid fa-phone fa-fw"></i>xxx-xxxx-xxx</p>
      	<p><i class="fa-solid fa-location-dot fa-fw"></i>〇〇県〇〇市〇〇町〇丁目</p>
      	<p><i class="fa-solid fa-envelope fa-fw"></i>naganocake@mail.com</p>
    	</div>
    	</div>
    </div>
  </div>
</footer>
